# MongoDB Connection
MONGODB_URI=
# or for MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/miniscout

# App Configuration
NEXT_PUBLIC_URL=http://localhost:3000

# Neynar Configuration (Optional)
NEYNAR_API_KEY=
NEYNAR_CLIENT_ID=